<!--
<?php
print <<<EOT
-->
<div style="width: 500px; height: 200px; border: 1px solid #808080; ">
    <form action="$webdb[www_url]/admin/drink_add.php" method="post" enctype="multipart/form-data" runat="server">
        <table>
            <tr><td>饮料名字：<input type="text" name="name"/></td></tr>
            <tr><td>饮料图片：<input type="file" name="uploadFile" /></td></tr>
            <tr style="text-align: center;"><td><input type="submit" value="提交"/></td></tr>
        </table>
    </form>
</div>
<!--
EOT;
?>
-->