<!--
<?php
print <<<EOT
-->
<script type="text/javascript">
$(function(){
	//$(".ListTable tr:even").addClass("hbg");
	$(".ListTable").find('td').each(function(i){    
		if(i%9 == 0){    
			$(this).addClass('tg');
		} 
		if(i%9==2 || i%9==4 || i%9==6 || i%9==8){    
			$(this).addClass('hbg');
		}   
	})
});
</script>
<style type="text/css">
.ListTable,.ListTable th,.ListTable td{
	border:#C9E0FE solid 1px;
}
.ListTable tr .tg{
	font-weight:bold;
	background:#F6FAFD;
}
.ListTable tr .hbg{
	background:#F6FAFD;
}
</style>
<div class="MainCont">
	<div class="head"><div class="tag">以下是你的数据统计信息</div></div>
    <div class="cont">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable mt10">
          <tr>
            <th width="12%"><br/></th>
            <th width="11%">文章</th>
            <th width="11%">图片</th>
            <th width="11%">下载</th>
            <th width="11%">视频</th>
            <th width="11%">FLASH</th>
            <th width="11%">评论</th>
            <th width="11%">举报</th>
            <th width="11%">推广</th>
          </tr>
          <tr class="trs"> 
            <td>今天</td>
            <td>$listdb[article_today]</td>
            <td>$listdb[tupian_today]</td>
            <td>$listdb[xiazai_today]</td>
            <td>$listdb[vedio_today]</td>
            <td>$listdb[flash_today]</td>
            <td>$listdb[comment_today]</td>
            <td>$listdb[report_today]</td>
            <td>$listdb[propagandize_today]</td>
          </tr>
          <tr class="trs"> 
            <td>昨天</td>
            <td>$listdb[article_yestoday]</td>
            <td>$listdb[tupian_yestoday]</td>
            <td>$listdb[xiazai_yestoday]</td>
            <td>$listdb[vedio_yestoday]</td>
            <td>$listdb[flash_yestoday]</td>
            <td>$listdb[comment_yestoday]</td>
            <td>$listdb[report_yestoday]</td>
            <td>$listdb[propagandize_yestoday]</td>
          </tr>
          <tr> 
            <td>本周</td>
            <td>$listdb[article_week]</td>
            <td>$listdb[tupian_week]</td>
            <td>$listdb[xiazai_week]</td>
            <td>$listdb[vedio_week]</td>
            <td>$listdb[flash_week]</td>
            <td>$listdb[comment_week]</td>
            <td>$listdb[report_week]</td>
            <td>$listdb[propagandize_week]</td>
          </tr>
          <tr> 
            <td>上周</td>
            <td>$listdb[article_lweek]</td>
            <td>$listdb[tupian_lweek]</td>
            <td>$listdb[xiazai_lweek]</td>
            <td>$listdb[vedio_lweek]</td>
            <td>$listdb[flash_lweek]</td>
            <td>$listdb[comment_lweek]</td>
            <td>$listdb[report_lweek]</td>
            <td>$listdb[propagandize_lweek]</td>
          </tr>
          <tr>
            <td>本月</td>
            <td>$listdb[article_month]</td>
            <td>$listdb[tupian_month]</td>
            <td>$listdb[xiazai_month]</td>
            <td>$listdb[vedio_month]</td>
            <td>$listdb[flash_month]</td>
            <td>$listdb[comment_month]</td>
            <td>$listdb[report_month]</td>
            <td>$listdb[propagandize_month]</td>
          </tr>
          <tr>
            <td>上月</td>
            <td>$listdb[article_lmonth]</td>
            <td>$listdb[tupian_lmonth]</td>
            <td>$listdb[xiazai_lmonth]</td>
            <td>$listdb[vedio_lmonth]</td>
            <td>$listdb[flash_lmonth]</td>
            <td>$listdb[comment_lmonth]</td>
            <td>$listdb[report_lmonth]</td>
            <td>$listdb[propagandize_lmonth]</td>
          </tr>
          <tr>
            <td>今年</td>
            <td>$listdb[article_year]</td>
            <td>$listdb[tupian_year]</td>
            <td>$listdb[xiazai_year]</td>
            <td>$listdb[vedio_year]</td>
            <td>$listdb[flash_year]</td>
            <td>$listdb[comment_year]</td>
            <td>$listdb[report_year]</td>
            <td>$listdb[propagandize_year]</td>
          </tr>
          <tr>
            <td>去年</td>
            <td>$listdb[article_lyear]</td>
            <td>$listdb[tupian_lyear]</td>
            <td>$listdb[xiazai_lyear]</td>
            <td>$listdb[vedio_lyear]</td>
            <td>$listdb[flash_lyear]</td>
            <td>$listdb[comment_lyear]</td>
            <td>$listdb[report_lyear]</td>
            <td>$listdb[propagandize_lyear]</td>
          </tr>
          <tr>
            <td>总计</td>
            <td>$listdb[article_total]</td>
            <td>$listdb[tupian_total]</td>
            <td>$listdb[xiazai_total]</td>
            <td>$listdb[vedio_total]</td>
            <td>$listdb[flash_total]</td>
            <td>$listdb[comment_total]</td>
            <td>$listdb[report_total]</td>
            <td>$listdb[propagandize_total]</td>
          </tr>
        </table>
    </div>
</div>
<!--
EOT;
?>
-->